<VerticalTimeline>
                    {timeLineItems.map((items, index)=>{
                    <VerticalTimelineElement key = {index}
                        date = {
                            <div className="mx-4">{items.year}</div>
                        }
                        contentStyle = {{
                            background: index%2 ? colors[0]: colors[1],
                            color: "black"
                        }}
                        contentArrowStyle = {{
                            borderRight : "7px solid black"
                        }}
                        iconStyle = {{
                            background: "transparent",
                            color: "white",
                            border: "black",
                            padding: "16px",
                            marginRight:"4px"
                        }}
                        icon ={icons[index]}
                    >

                        {items.description.map((item)=>{
                            <li>
                                {item}
                            </li>
                        })}
                        
                    </VerticalTimelineElement>


                })}
                </VerticalTimeline>